.background{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpiYOsC7UdFcyU4GNAogs9sXnxaO1AYbH6ag&usqp=CAU");
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
   
}